*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: rgb(219, 209, 209);
}

.row{
    background: white;
    border-radius: 30px;
}

img{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.btn1{
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: rgb(105, 21, 21);
    color: white;
    border-radius: 4px;
    font-weight: bold;
}
.btn1:hover{
    background: white;
    border: 2px solid rgb(105, 21, 21);
    color: rgb(105, 21, 21);
}